/* ───────────────────────────────────────────── */
/* SECTION: Main */
/* ─────────────────────────────────────────────*/

:root {
  --card-bg: #f9f9fb;
  --section-text: #1f2937;
}

#personal-vocabulary-window{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

/* ───────────────────────────────────────────── */
/* SECTION: Header */
/* ─────────────────────────────────────────────*/

#pvw-header{
    width: 100%;
}

#pvw-header > hr{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    border: none;
    font-weight: 50px;
}

/* ───────────────────────────────────────────── */
/* SECTION: ContentContainer */
/* ─────────────────────────────────────────────*/

#pvw-content-container{
    display: flex;
    flex-direction: row;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

#pvw-content-container > .pvw-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  align-items: stretch !important;
  gap: 10px;
  box-sizing: border-box;


  /* background-color: var(--card-bg);    */
  /* background-color: red !important; */
  margin-top: 1rem 0;
  padding: 1rem 1rem 1.5rem;

  width: 50%;
  min-height: 38%;
  height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}

#pv.pvw-card > .section-title {
  margin: 0 0 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--section-text);
}

.pvw-card > .pvw-card-control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0rem;
}

@media (max-width: 850px) {
  #pvw-content-container {
    flex-direction: column;
    max-height: 100vh;
  }

  #pvw-content-container > .pvw-card {
    width: 100%;
    min-height: unset;
    height: 50%;
  }
}