/* ───────────────────────────────────────────── */
/* SECTION: Main */
/* ─────────────────────────────────────────────*/

:root {
  --card-bg: #f9f9fb;
  --section-text: #1f2937;
}

#personal-vocabulary-window {

  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden; */
  overflow-y: auto; /* ✅ scrolls if children grow */
  height: 100%;
}

/* ───────────────────────────────────────────── */
/* SECTION: Header */
/* ─────────────────────────────────────────────*/

#pvw-header {
  width: 100%;
}

#pvw-header>h1 {

  font-size: 1.5rem;
  /* ~18px */
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 1;
  color: var(--section-text);
}

#pvw-header>hr {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  border: none;
  font-weight: 50px;
}

/* ───────────────────────────────────────────── */
/* SECTION: ContentContainer */
/* ─────────────────────────────────────────────*/

#pvw-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* gap: 10px; */
  min-height: 0;
  /* overflow: auto; */
  /* max-width: 100%; */
  /* background-color: yellow; */
  /* width: 100%; */
  margin: 0;
  padding: 0;

}

#pvw-content-container>.pvw-card {
  flex: 0 0 50%;     /* exactly 50% width in row */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  min-height: 200px;  /* minimum starting height */
  overflow: auto;     /* scroll inside card if content grows */
  /* max-width: 50%; */
  box-sizing: border-box;
  max-height: fit-content;

}

#pv.pvw-card>.section-title {
  margin: 0 0 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--section-text);
}

.pvw-card>.pvw-card-control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0rem;
}

@media (max-width: 1050px) {
  #pvw-content-container {
    flex-direction: column;
    min-height: fit-content;
    /* min-height: 700px; */
    /* overflow-y: auto; */
    /* scroll container if content too big */
  }

  #pvw-content-container>.pvw-card {
    /* width: 100%; */
    /* min-height: 3000px !important; */
    min-height: 50%;
    height: 50%;
    overflow: auto;
    /* scroll content if too big */

  }
}