[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
schedule = "*"
fastapi = {extras = ["all"], version = "*"}
sqlalchemy = "*"
python-jose = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.13"
