/* ensure the page fills the viewport */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  /* background-color: pink; */
}


#app-container {
    display: flex;
  flex-direction: column;
  /* background-color: red; */
  
  /* min-height: 100vh; */
  /* min-width: 100vw; */
  height: 100vh;
  width: 100vw;

}

main {
  flex: 1 1 auto;      /* grow to fill available vertical space */
  display: flex;       /* let its children use flex sizing */
  flex-direction: column;
  min-height: 0;       /* important for child overflow to work */
  height: 100%;
  /* remove the forced huge blue you had unless desired */
  /* background-color: rgb(0,17,255); */
  /* max-height: 10vh !important;  prevent overflow beyond viewport */
}


/* header keeps natural height; no change needed, but be explicit */
header {
  flex: 0 0 auto;
}